.service-section {
  background-color: #EBEBEB;
}

.services {
  padding: 120px 0;
}

.text p {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #BDBDBD;
  padding-bottom: 30px;
}

.text h2 {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0em;
  color: #333333;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 100px;
}

.card {
  width: 350px;
  height: 360px;
  background-image: url("../../../public/images/Rectangle\ 2.jpg");
}

.card {
  position: relative;
}

.card p {
  position: absolute;
  color: #ffffff;
  bottom: 38px;
  left: 45px;
  font-size: 24px;
  font-weight: 700;
}

.card p span {
  display: block;
}

.card::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 360px;
  transition: 0.3s;
}

.card:hover.card::after {
  background-color: rgba(0, 95, 163, 0.65);
}