.registration__page {
  padding-top: 80px;
}

.header__block {
  display: flex;
  justify-content:center;
  align-items: center;
  gap:30px;
  width:1110px;
  height:623px;
  background-image:url(../../assets/images/register__back.png);
  border:1px ridge #FFFFFF;
  color: white;
}

.information__page {
  width:43%;
  padding-bottom: 226px;
  text-align:left;
}

.information__page h3 {
  font-size: 48px;
  font-weight: 900;
  width: 445px;
  margin-top: 90px;
  font-family: 'Merriweather';
}

.text__line {
  width: 445px;
  font-family:'Lato';
  margin-top:95px;
}

.contact__block {
  display: flex;
  padding: 5px;
  text-decoration: none;
  color: white;
  margin-top:115px;
}

.information__page a {
  font-family:'Lato';
  text-decoration: none;
  color: white;
}

.phone{
  width: 49%;
  font-family:'Lato';
}

.mail{
  font-family:'Lato';
  width: 49%;
  margin-left: 20px;
}

.phone__one img{
 width: 17.43px;
 height: 30px;
 margin-right:20px;
}

.mail__two img{
  width: 39.42px;
  height: 30px;
  margin-right:10px;
}

.information__page span {
  font-weight: 300;
  font-size: 21px;
  margin:10px;
  font-family:'Lato';
}

.registration__form {
 width: 45%;
}

.user__information {
  width: 100%;
}

.user__information span {
  color: white;
  font-weight: 400;
  font-size: 16px;
  font-family:'Lato';
}


.firstname {
  padding: 0 227px;
  font-family:'Lato';
}

.form__register {
  padding:5px 0;
}

.ivan {
  border: none;
  font-size: 18px;
  width: 45%;
  padding: 10px 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-family:'Lato';
  color:white;
}

.ivanov {
  border: none;
  margin-left: 35px;
  width: 45%;
  font-size: 18px;
  padding: 10px 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-family:'Lato';
  color:white;
}


.message__block {
  margin-top: 55px;
  padding: 10px 0;
  font-family:'Lato';
}

form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  text-decoration:none;
  color: white;
  font-size: 21px;
  font-family:'Lato';
}

.submit__message {
  width: 270px;
  height: 60px;
  background-color: #005FA3;
  margin: 30px 215px;
  font-family:'Lato';
}